.checkoutbutton {
  overflow: hidden;
  display: inline-block;
  background: linear-gradient(rgb(229, 43, 40), rgb(148, 1, 1));
  border: 0px;
  padding: 1px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
  cursor: pointer;
  visibility: visible;
  user-select: none;
}
